[package]
name = "relayrl_framework"
version = "0.5.0"
authors = ["jrcalgo <jacksonr121@outlook.com>"]
edition = "2024"
description = "A system-oriented reinforcement learning framework using a Rust backend with Python interfaces."
readme = "README.md"
keywords = ['reinforcement', 'learning', 'rl-framework', 'client-server', 'system-integration']
categories = ['science', 'simulation', 'asynchronous', 'network-programming']
license = "Apache-2.0"

[package.metadata.docs.rs]
all-features = true

[lib]
name = "relayrl_framework"
crate-type = ["rlib", "cdylib"]

[features]
default = ["networks", "logging", "metrics"]       # Enables default and necessary features for operation in Rust.
networks = ["grpc_network", "zmq_network"]         # Enables networking modules with their accompanying python IPC.
grpc_network = ["tonic", "prost", "tonic-build", "bincode"]        # Enables gRPC messaging support between agents and training server.
zmq_network = ["zmq"]           # Enables ZeroMQ messaging support between agents and training server.
logging = ["log4rs"]       # Enables logging support.
metrics = ["prometheus", "opentelemetry", "opentelemetry_sdk", "opentelemetry-otlp"]       # Enables metrics support.
profile = ["flamegraph", "console-subscriber"]       # Enables runtime profiling support via flamegraph.

[dependencies]
relayrl_types = { version = "0.3.11", features = ["ndarray-backend", "codec-full", "tch-model", "onnx-model"] }

zmq = { version = "0.10.0", optional = true }                               # ZeroMQ messaging library.
tonic = { version = "0.12.3", optional = true }                             # gRPC library for Rust.
prost = { version = "0.13.5", optional = true }                             # Protobuf serialization library for tonic.

log4rs = { version = "1.3.0", optional = true }                              # Logging library.
prometheus = { version = "0.14.0", optional = true, features = ["process"] } # Prometheus metrics library.
opentelemetry = { version = "0.31.0", optional = true} # OpenTelemetry tracing library.
opentelemetry_sdk = { version = "0.31.0", optional = true, features = ["metrics", "rt-tokio"] }
opentelemetry-otlp = { version = "0.31.0", optional = true }

tokio = { version = "1.35.1", features = ["full"] }  # Asynchronous runtime.
once_cell = "1.19.0"              # Lazy initialization of static data.
tempfile = "3.9.0"               # For temporary file creation.
serde = { version = "1.0.195", features = ["derive"] }  # Serialization framework with derive macros.
serde_json = "1.0.111"          # JSON serialization.
serde-pickle = "1.1.1"                        # Serialization using the pickle format.
bytemuck = "1.14.1"               # Safe zero-copy conversion between data representations.
bincode = { version = "2.0.1", optional = true}

rand = "0.8.5"                      # Random number generation library.
dashmap = "5.5.3"
async-trait = "0.1.89"                                                   # Enables async functions in traits.
uuid = { version = "1.18.1", features = ["v8"] }
log = { version = "0.4.28", features = ["kv"] }
notify = { version = "6.1.1", optional = true }
futures = "0.3.30"
thiserror = "2.0.17"
tiny_http = { version = "0.12.0", optional = true }

burn-tensor = "0.18.0"
burn-import = "0.18.0"
burn-ndarray = "0.18.0"
burn-tch = "0.18.0"
# TODO: Add Redis support for training data storagen & querying
# redis = 0.32.7

[build-dependencies]
pyo3-build-config = "0.24.2"
tonic-build = { version = "0.12.3", optional = true }

[dependencies.flamegraph]
version = "0.6.7"
optional = true

# Optional dependency for tokio-console support.
# cargo install tokio-console, then listen on CLI
# To trace, ensure -> RUSTFLAGS="--cfg tokio_unstable"
[dependencies.console-subscriber]
version = "0.4.1"
optional = true

# Essential for benchmarking
[dev-dependencies.criterion]
version = "0.5.1"
features = ["html_reports", "async_tokio"]

[profile.dev]
opt-level = 0
debug = true

[profile.release]
opt-level = 3
debug = true